 html, body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 90vw;
    height: 90vh;
}



a {
    letter-spacing: 0.875px;
    line-height: 21px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #17233D;
    width: 83px;
    margin: 47px 32px 0 42px;

}

button {
    letter-spacing: 1px;
    line-height: 24px;
    font-weight: 500;
    font-size: 16px;
    color: #FFF;
    border-radius: 6px;
    border: 1px solid #4CB538;
    background: #6FBF44;
    width: 124px;
    height: 51px;
    flex-shrink: 0;
    cursor: pointer;
    margin-top: 10px;

}

    

img{
    display: inline-block;
     max-width:45%;
    margin-top: 70px;
    margin-left: 50px;
}
.link-header {
    margin: 70px 40px 0 0;
display: inline-block;
position: absolute;
width: 20vw;
margin-left: 85px;
}
h1{
    letter-spacing: 0.596px;
    line-height: 70px; 
    font-size: 62px;
    color: #161A49;
    width: 582px;
    margin-bottom: 47px;
}
p{
    letter-spacing: 0.5px;
    line-height: 33px;
    font-weight: 400;
    font-size: 18px;
    color: #4B505A;
    width: 493px;
    margin-bottom: 55px;
}
.link-verde{
    letter-spacing: 1px;
    line-height:27px;
    font-weight: 500;
    font-size: 18px;
    color: #6FBF44;
    cursor: pointer;
}
.meu{
    
    border: none;
a{
    cursor: pointer;
}
}
.meu a:hover{
    opacity: 0.4;
}
.meu a:active{
    opacity: 0.8;
}

button :active{
    opacity: 0.8;
}
button :hover{
    opacity: 0.4;
}
.link-verde:active{
   opacity:0.8 ; 
}
.link-verde :hover{
    opacity: 0.6;
}


@media screen and ( max-width:900px){ 

    .meu a{
    display: none;
    }
    button{
        width: 91px;
        height: 31px;
        flex-shrink: 0;
        font-size: 12px;
        font-weight: 500;
        line-height:18px;
        letter-spacing: 1px;
        margin-left: 283px;
    margin-top: 15px;
    border-radius: 6px;
    border: 1px solid #4CB538;
    }
    .link-header{
        margin-top: 8px;
        width: 100vw;
        height: 50vh;
       text-align: center;
       position: static;
       margin-left: 4%;
       padding: 37px;
    }
    h1{
        text-align: center;
       width: 278px;
        line-height: 30px; 
        font-size: 30px;
        margin-right:43px;
        margin-left:6%;
       
    }
    p{
        text-align: center;
        letter-spacing: 0.5px;
        line-height: 33px; 
        font-weight: 400;
        font-size: 18px;
        color: #4B505A;
        width: 304px;
        margin-right:auto;
    }
    .link-verde{
        letter-spacing: 1px;
        line-height:27px;
        font-weight: 500;
        font-size: 18px;
        color: #6FBF44;
        margin-top: 26px;
        margin-bottom: 76px;
        margin-right: 148px;
    }
img{ 
    
    display: block;
    max-height: 80%;
    max-width: 90%;
    margin-top: 400px;
    margin-left: 6%;
     position: absolute;
     margin-bottom: 23px;
     padding-top: 86px;
}
}